stepfunctions-test/.serverless/serverless-state.json
{
  "service": {
    "service": "stepfunctions-test",
    "serviceObject": {
      "name": "stepfunctions-test"
    },
    "provider": {
      "name": "aws",
      "runtime": "python3.8",
      "lambdaHashingVersion": "20201221",
      "stage": "dev",
      "region": "us-east-1",
      "versionFunctions": true,
      "compiledCloudFormationTemplate": {
        "AWSTemplateFormatVersion": "2010-09-09",
        "Description": "The AWS CloudFormation template for this Serverless application",
        "Resources": {
          "ServerlessDeploymentBucket": {
            "Type": "AWS::S3::Bucket",
            "Properties": {
              "BucketEncryption": {
                "ServerSideEncryptionConfiguration": [
                  {
                    "ServerSideEncryptionByDefault": {
                      "SSEAlgorithm": "AES256"
                    }
                  }
                ]
              }
            }
          },
          "ServerlessDeploymentBucketPolicy": {
            "Type": "AWS::S3::BucketPolicy",
            "Properties": {
              "Bucket": {
                "Ref": "ServerlessDeploymentBucket"
              },
              "PolicyDocument": {
                "Statement": [
                  {
                    "Action": "s3:*",
                    "Effect": "Deny",
                    "Principal": "*",
                    "Resource": [
                      {
                        "Fn::Join": [
                          "",
                          [
                            "arn:",
                            {
                              "Ref": "AWS::Partition"
                            },
                            ":s3:::",
                            {
                              "Ref": "ServerlessDeploymentBucket"
                            },
                            "/*"
                          ]
                        ]
                      },
                      {
                        "Fn::Join": [
                          "",
                          [
                            "arn:",
                            {
                              "Ref": "AWS::Partition"
                            },
                            ":s3:::",
                            {
                              "Ref": "ServerlessDeploymentBucket"
                            }
                          ]
                        ]
                      }
                    ],
                    "Condition": {
                      "Bool": {
                        "aws:SecureTransport": false
                      }
                    }
                  }
                ]
              }
            }
          },
          "HelloLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/hello"
            }
          },
          "AnotherDashhelloLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/stepfunctions-test-dev-another-hello"
            }
          },
          "IamRoleLambdaExecution": {
            "Type": "AWS::IAM::Role",
            "Properties": {
              "AssumeRolePolicyDocument": {
                "Version": "2012-10-17",
                "Statement": [
                  {
                    "Effect": "Allow",
                    "Principal": {
                      "Service": [
                        "lambda.amazonaws.com"
                      ]
                    },
                    "Action": [
                      "sts:AssumeRole"
                    ]
                  }
                ]
              },
              "Policies": [
                {
                  "PolicyName": {
                    "Fn::Join": [
                      "-",
                      [
                        "stepfunctions-test",
                        "dev",
                        "lambda"
                      ]
                    ]
                  },
                  "PolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                      {
                        "Effect": "Allow",
                        "Action": [
                          "logs:CreateLogStream",
                          "logs:CreateLogGroup"
                        ],
                        "Resource": [
                          {
                            "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/hello:*"
                          },
                          {
                            "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/stepfunctions-test-dev*:*"
                          }
                        ]
                      },
                      {
                        "Effect": "Allow",
                        "Action": [
                          "logs:PutLogEvents"
                        ],
                        "Resource": [
                          {
                            "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/hello:*:*"
                          },
                          {
                            "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/stepfunctions-test-dev*:*:*"
                          }
                        ]
                      }
                    ]
                  }
                }
              ],
              "Path": "/",
              "RoleName": {
                "Fn::Join": [
                  "-",
                  [
                    "stepfunctions-test",
                    "dev",
                    {
                      "Ref": "AWS::Region"
                    },
                    "lambdaRole"
                  ]
                ]
              }
            }
          },
          "HelloLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": {
                  "Ref": "ServerlessDeploymentBucket"
                },
                "S3Key": "serverless/stepfunctions-test/dev/1657408576338-2022-07-09T23:16:16.338Z/stepfunctions-test.zip"
              },
              "Handler": "handler.hello",
              "Runtime": "python3.8",
              "FunctionName": "hello",
              "MemorySize": 1024,
              "Timeout": 6,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              }
            },
            "DependsOn": [
              "HelloLogGroup"
            ]
          },
          "AnotherDashhelloLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": {
                  "Ref": "ServerlessDeploymentBucket"
                },
                "S3Key": "serverless/stepfunctions-test/dev/1657408576338-2022-07-09T23:16:16.338Z/stepfunctions-test.zip"
              },
              "Handler": "handler.hello",
              "Runtime": "python3.8",
              "FunctionName": "stepfunctions-test-dev-another-hello",
              "MemorySize": 1024,
              "Timeout": 6,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              }
            },
            "DependsOn": [
              "AnotherDashhelloLogGroup"
            ]
          },
          "HelloLambdaVersionfDyGGJrGymKntI5HMGjg9Kd6jh1TS5TeQyyJQHAc": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "HelloLambdaFunction"
              },
              "CodeSha256": "b2pkzDEXv1A3defrNiDyBNr3V8CY4eQRl8pqnTPJBFI="
            }
          },
          "AnotherDashhelloLambdaVersionrjxDN4tO87nZ4H5wjYP4Pb560atZ0Md9AZ2SbluqDo": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "AnotherDashhelloLambdaFunction"
              },
              "CodeSha256": "b2pkzDEXv1A3defrNiDyBNr3V8CY4eQRl8pqnTPJBFI="
            }
          },
          "TestStateMachineRole": {
            "Type": "AWS::IAM::Role",
            "Properties": {
              "AssumeRolePolicyDocument": {
                "Version": "2012-10-17",
                "Statement": [
                  {
                    "Effect": "Allow",
                    "Principal": {
                      "Service": {
                        "Fn::Sub": "states.${AWS::Region}.amazonaws.com"
                      }
                    },
                    "Action": "sts:AssumeRole"
                  }
                ]
              },
              "Policies": [
                {
                  "PolicyName": "dev-stepfunctions-test-statemachine",
                  "PolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                      {
                        "Effect": "Allow",
                        "Action": [
                          "lambda:InvokeFunction"
                        ],
                        "Resource": [
                          "arn:aws:lambda:us-east-1:400578137586:function:stepfunctions-test-dev-another-hello",
                          {
                            "Fn::Sub": [
                              "${functionArn}:*",
                              {
                                "functionArn": "arn:aws:lambda:us-east-1:400578137586:function:stepfunctions-test-dev-another-hello"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              ]
            }
          },
          "TestStateMachine": {
            "Type": "AWS::StepFunctions::StateMachine",
            "Properties": {
              "DefinitionString": "{\n  \"StartAt\": \"ChoiceState\",\n  \"States\": {\n    \"ChoiceState\": {\n      \"Type\": \"Choice\",\n      \"Choices\": [\n        {\n          \"Variable\": \"$.input\",\n          \"StringEquals\": \"something\",\n          \"Next\": \"Fail\"\n        }\n      ],\n      \"Default\": \"HelloWorld\"\n    },\n    \"HelloWorld\": {\n      \"Type\": \"Task\",\n      \"Resource\": \"arn:aws:lambda:us-east-1:400578137586:function:stepfunctions-test-dev-another-hello\",\n      \"Next\": \"Succeed\"\n    },\n    \"Fail\": {\n      \"Type\": \"Fail\"\n    },\n    \"Succeed\": {\n      \"Type\": \"Succeed\"\n    }\n  }\n}",
              "RoleArn": {
                "Fn::GetAtt": [
                  "TestStateMachineRole",
                  "Arn"
                ]
              },
              "StateMachineName": "TestStateMachine"
            },
            "DependsOn": [
              "TestStateMachineRole"
            ]
          }
        },
        "Outputs": {
          "ServerlessDeploymentBucketName": {
            "Value": {
              "Ref": "ServerlessDeploymentBucket"
            },
            "Export": {
              "Name": "sls-stepfunctions-test-dev-ServerlessDeploymentBucketName"
            }
          },
          "HelloLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "HelloLambdaVersionfDyGGJrGymKntI5HMGjg9Kd6jh1TS5TeQyyJQHAc"
            },
            "Export": {
              "Name": "sls-stepfunctions-test-dev-HelloLambdaFunctionQualifiedArn"
            }
          },
          "AnotherDashhelloLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "AnotherDashhelloLambdaVersionrjxDN4tO87nZ4H5wjYP4Pb560atZ0Md9AZ2SbluqDo"
            },
            "Export": {
              "Name": "sls-stepfunctions-test-dev-AnotherDashhelloLambdaFunctionQualifiedArn"
            }
          },
          "TestStateMachineArn": {
            "Description": "Current StateMachine Arn",
            "Value": {
              "Ref": "TestStateMachine"
            },
            "Export": {
              "Name": "sls-stepfunctions-test-dev-TestStateMachineArn"
            }
          }
        }
      },
      "coreCloudFormationTemplate": {
        "AWSTemplateFormatVersion": "2010-09-09",
        "Description": "The AWS CloudFormation template for this Serverless application",
        "Resources": {
          "ServerlessDeploymentBucket": {
            "Type": "AWS::S3::Bucket",
            "Properties": {
              "BucketEncryption": {
                "ServerSideEncryptionConfiguration": [
                  {
                    "ServerSideEncryptionByDefault": {
                      "SSEAlgorithm": "AES256"
                    }
                  }
                ]
              }
            }
          },
          "ServerlessDeploymentBucketPolicy": {
            "Type": "AWS::S3::BucketPolicy",
            "Properties": {
              "Bucket": {
                "Ref": "ServerlessDeploymentBucket"
              },
              "PolicyDocument": {
                "Statement": [
                  {
                    "Action": "s3:*",
                    "Effect": "Deny",
                    "Principal": "*",
                    "Resource": [
                      {
                        "Fn::Join": [
                          "",
                          [
                            "arn:",
                            {
                              "Ref": "AWS::Partition"
                            },
                            ":s3:::",
                            {
                              "Ref": "ServerlessDeploymentBucket"
                            },
                            "/*"
                          ]
                        ]
                      },
                      {
                        "Fn::Join": [
                          "",
                          [
                            "arn:",
                            {
                              "Ref": "AWS::Partition"
                            },
                            ":s3:::",
                            {
                              "Ref": "ServerlessDeploymentBucket"
                            }
                          ]
                        ]
                      }
                    ],
                    "Condition": {
                      "Bool": {
                        "aws:SecureTransport": false
                      }
                    }
                  }
                ]
              }
            }
          }
        },
        "Outputs": {
          "ServerlessDeploymentBucketName": {
            "Value": {
              "Ref": "ServerlessDeploymentBucket"
            }
          }
        }
      },
      "vpc": {}
    },
    "plugins": [
      "serverless-step-functions"
    ],
    "pluginsData": {},
    "functions": {
      "hello": {
        "name": "hello",
        "handler": "handler.hello",
        "events": [],
        "package": {},
        "memory": 1024,
        "timeout": 6,
        "runtime": "python3.8",
        "vpc": {},
        "versionLogicalId": "HelloLambdaVersionfDyGGJrGymKntI5HMGjg9Kd6jh1TS5TeQyyJQHAc"
      },
      "another-hello": {
        "handler": "handler.hello",
        "events": [],
        "name": "stepfunctions-test-dev-another-hello",
        "package": {},
        "memory": 1024,
        "timeout": 6,
        "runtime": "python3.8",
        "vpc": {},
        "versionLogicalId": "AnotherDashhelloLambdaVersionrjxDN4tO87nZ4H5wjYP4Pb560atZ0Md9AZ2SbluqDo"
      }
    },
    "configValidationMode": "warn",
    "serviceFilename": "serverless.yml",
    "initialServerlessConfig": {
      "service": {
        "$ref": "$[\"service\"][\"serviceObject\"]"
      },
      "frameworkVersion": "2",
      "variablesResolutionMode": "20210326",
      "provider": {
        "$ref": "$[\"service\"][\"provider\"]"
      },
      "plugins": {
        "$ref": "$[\"service\"][\"plugins\"]"
      },
      "functions": {
        "$ref": "$[\"service\"][\"functions\"]"
      },
      "stepFunctions": {
        "stateMachines": {
          "StateMachine1": {
            "name": "TestStateMachine",
            "definition": {
              "StartAt": "ChoiceState",
              "States": {
                "ChoiceState": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Variable": "$.input",
                      "StringEquals": "something",
                      "Next": "Fail"
                    }
                  ],
                  "Default": "HelloWorld"
                },
                "HelloWorld": {
                  "Type": "Task",
                  "Resource": "arn:aws:lambda:us-east-1:400578137586:function:stepfunctions-test-dev-another-hello",
                  "Next": "Succeed"
                },
                "Fail": {
                  "Type": "Fail"
                },
                "Succeed": {
                  "Type": "Succeed"
                }
              }
            }
          }
        }
      }
    },
    "layers": {},
    "isDashboardMonitoringPreconfigured": false,
    "stepFunctions": {
      "stateMachines": {
        "$ref": "$[\"service\"][\"initialServerlessConfig\"][\"stepFunctions\"][\"stateMachines\"]"
      },
      "activities": []
    },
    "artifact": "/home/keisuke/Documents/repos/serverless_pra/stepfunctions-test/.serverless/stepfunctions-test.zip"
  },
  "package": {
    "artifactDirectoryName": "serverless/stepfunctions-test/dev/1657408576338-2022-07-09T23:16:16.338Z",
    "artifact": "stepfunctions-test.zip"
  }
}